body
    font-variant-ligatures: common-ligatures

body, footer[role=contentinfo]
    background-color: black

header[role=banner] .logo img
    height: 80px

footer[role=contentinfo] nav a,
footer[role=contentinfo] nav span
    &, &:hover
        color: white

.page__home
    .container
        font-size: px2rem(30)
    .breadcrumb
        display: none
