body
    font-variant-ligatures: common-ligatures

body, footer[role=contentinfo]
    background-color: black

header[role=banner]
    .logo
        img
            height: 30px

footer[role=contentinfo]
    .logo
        img
            height: 100px
    nav
        a, span
            &, &:hover
                color: white

.page__home
    .container
        font-size: px2rem(30)
    .breadcrumb
        display: none
