body
    font-variant-ligatures: common-ligatures

body, footer[role=contentinfo]
    background-color: black

header[role=banner]
    .logo
        img
            height: 30px
            @include media-breakpoint-down(md)
                height: 20px
                margin-top: -7px

.menu, .dropdown-menu
    background: black
    li a:hover
        background-color: #222222 !important

footer[role=contentinfo]
    .logo
        img
            height: 100px
    nav[role=navigation]
        text-align: right

div[itemprop=articleBody]
    p
        font-size: px2rem(30)

.page__home
    .container
        font-size: px2rem(30)
    .breadcrumb
        display: none

a, a:hover
    color: white !important

.btn-light
    &, &:hover
        color: black !important

h2
    font-weight: bold

.hero
    background-image: url(/assets/images/illustrations/dark.svg)
    background-position: top right
    background-repeat: no-repeat
    background-size: contain
    @include media-breakpoint-down(lg)
        background-size: 40%
    @include media-breakpoint-down(md)
        background-size: 70%
        padding-top: 300px
    @include media-breakpoint-down(sm)
        background-size: 100%

.page
    background: none
    .title
        &, & .link
            font-size: px2rem(30)
            font-weight: bold
    p
        font-size: px2rem(20)
