{{ define "main" }}
  {{ partial "home/hero.html" . }}

  <div class="container">
    <div class="cta">
      <a href="/programme" class="btn btn-green btn-lg">Découvrir le programme</a>
    </div>

    {{ if (partial "GetTextFromHTML" .Content) }}
    <section itemprop="articleBody">
      {{- partial "PrepareHTML" .Content -}}
    </section>
    {{ end }}

    <div class="mini-cta">
      <div class="ecole-cta">
        <span class="cta-label">Vous souhaitez inscrire votre <strong>école</strong> à l’événement Reboot ?</span>
        <a href="https://framaforms.org/inscription-dune-ecole-reboot-2022-1648036420" target="_blank" rel="noreferrer" class="btn btn-light btn-lg">Inscrire mon école</a>
      </div>
      <div class="partenaire-cta">
        <span class="cta-label">Vous souhaitez devenir <strong>partenaire</strong> de l’événement Reboot! ?
        </span>
        <a href="https://framaforms.org/inscription-dune-organisation-partenaire-reboot-2022-1648066331" target="_blank" rel="noreferrer" class="btn btn-light btn-lg">Devenir partenaire</a>
      </div>
      <div class="annuaire-cta">
        <span class="cta-label">Vous souhaitez <strong>intervenir</strong> au sein des écoles ?</span>
        <a href="https://framaforms.org/inscription-dans-lannuaire-reboot-dune-personne-intervenante-dans-les-ecoles-reboot-2022-1648067273" target="_blank" rel="noreferrer" class="btn btn-light btn-lg">S'inscrire dans l'annuaire</a>
      </div>
    </div>

    {{- range site.Data.menus.primary -}}
      <section>
        {{ partial "home/top.html" . }}

        {{ if eq .kind "news" }}
          {{ partial "home/posts.html" . }}
        {{ else }}
          {{ if .children }}
            {{ partial "home/pages.html" . }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}

    {{ partial "home/volumes.html" . }}

  </div>
{{ end }}
